{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% blocktrans %} Veena Pujar - Empowering Emotional WellBeing {% endblocktrans %}</title>
    <link rel="stylesheet" href="{% static 'css/10stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="icon" type="image/jpeg" href="{% static 'images/Veena Main pic website.jpeg' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <h1>{% trans "Overcome Anxiety & Depression" %}</h1>
        </nav>
    </header>

    <div class="self-free">
        <section class="selffree-content">
            <div class="selffree-text">
                <h2>{% trans "Overcome Anxiety & Depression" %}</h2>
                <h3>{% trans "It impacts mental & physical health" %}</h3>
                <img src="{% static 'images/Anxiety-image.jpeg'%}" class="square-glow">
                <div><br></div>
                <p>{% blocktrans %}Narcissitic abuse commonly leads to anxiety & depression because the victim faces constant emotional roller-coasters & unpredictable behaviour which foster,fear, stress & emotional exhaustion. Overtime this can erode self-esteem, create social isolation(due to narcissit's controlling tendencies), & impair the victim's ability to function in daily life.{% endblocktrans %}</p>
                <p>{% blocktrans %}Physical symptoms like headaches, sleep disturbances bodyache can also araise from narcisstic abuse. In extreme cases victims may also experience suicidal thoughts.{% endblocktrans %}</p>
                <p>{% blocktrans %}Even the daily chores seems difficult. It may arise after losing loved one, experiencing relationship & work stress, facing 
                            chronic illness or prolonged sadness without reason. Since depression affects each person differently so the therapy is 
                            accordingly. Seeking help early can make recovery easier & improve overall wellbeing.{% endblocktrans %}</p>
                <div><br></div>
                <h3>{% trans "Reach Us For More Help" %}</h3>
                <div><br></div>
                <h3>{% trans "Online Sessions are conducted through the Google meet / Zoom meet / Whatsapp Video Call" %}</h3>
                <a href="" class="btn-box">🎥Zoom Meeting</a>
                <h2>Select a Date :</h2>
                <div id="calendar">
                    <p><strong>Book</strong> it <strong>NOW!</strong><!-- at <strong>₹999</strong>--></p>
                </div>
                <h2>{% trans "Contact us before the Payment" %}</h2>
                <!--<a href="" class="btn-box">{% trans "Pay" %} ₹999</a>-->
                <h3>{% trans "Need help or have questions?" %}</h3>
                <h3>{% trans "We're just a message away..." %}</h3>
                <h3>{% trans "Contact Us" %}</h3>
                <h4><p class="bx bxs-phone"><strong>+91 - 7760213227</strong></p></h4>
                <h3>{% trans "E-mail" %} : happyhealinghappyfeeling@gmail.com</h3>
            </div>
        </section>
    </div> 
    <a href="{% url 'counApp:home' %}" class="btn-box">{% trans "Back To Home" %}</a>
    
    <script>
        flatpickr("#calendar", {
        inline: true,     // Displays calendar always visible
        dateFormat: "d-m-y",
        onChange: function(selectedDates, dateStr, instance) {
        alert("You selected date on: " + dateStr);
        }
        });
    </script>
</body>
</html>