{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% blocktrans %} Veena Pujar - Empowering Emotional WellBeing {% endblocktrans %}</title>
    <link rel="stylesheet" href="{% static 'css/11stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="icon" type="image/jpeg" href="{% static 'images/Veena Main pic website.jpeg' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <h1>{% trans "How To Deal With Toxic People" %}</h1>
        </nav>
    </header>

    <div class="self-free">
        <section class="selffree-content">
            <div class="selffree-text">
                <h2>{% trans "How To Deal With Toxic People" %}e</h2>
                <h3>{% trans "Set clear boundaries" %}</h3>
                <img src="{% static 'images/Toxic-image.jpeg' %}" class="square-glow">
                <div><br></div>
                <p>{% blocktrans %}At workplace you may be working under toxic boss who constantly put you under pressure & even he can try to create negative environment in the team by manipulation or hostility.{% endblocktrans %}</p>
                <p>{% blocktrans %}Focus on your wellbeing communicate assertively & minimize contact, avoid getting drawn into their negativity & disengage from 
                            unproductive arguments by calmly stating your needs with 'I' statements. If necessary distance yourself or in extreme cases seek 
                            help from counselling psychologist/therapist like me as toxic people can't always be fixed.{% endblocktrans %}</p>
                <div><br></div>
                <h3>{% trans "The key strategies to deal with toxic people  :" %}</h3>
                <p>{% trans "Set clear boundaries about the unaccecptable behavior." %}</p>
                <p>{% trans "Focus on solution instead of engaging in drama." %}</p>
                <p>{% trans "Limit interactions when possible." %}</p>
                <p>{% trans "Don't respond to provocation publicly." %}</p>
                <p>{% trans "Seek support from co-workers or superviser or HR who can help manage the situation effectively." %}</p>
                <div><br></div>
                <h3>{% trans "Reach Us For More Help" %}</h3>
                <div><br></div>
                <h3>{% trans "Online Sessions are conducted through the Google meet / Zoom meet / Whatsapp Video Call" %}</h3>
                <a href="" class="btn-box">🎥Zoom Meeting</a>
                <h2>Select a Date :</h2>
                <div id="calendar">
                    <p><strong>Book</strong> it <strong>NOW!</strong> at <strong>₹999</strong></p>
                </div>
                <h2>{% trans "Contact us before the Payment" %}</h2>
                <a href="" class="btn-box">{% trans "Pay" %} ₹999</a>
                <h3>{% trans "Need help or have questions?" %}</h3>
                <h3>{% trans "We're just a message away..." %}</h3>
                <h3>{% trans "Contact Us" %}</h3>
                <h4><p class="bx bxs-phone"><strong>+91 - 7760213227</strong></p></h4>
                <h3>{% trans "E-mail" %} : happyhealinghappyfeeling@gmail.com</h3>
            </div>
        </section>
    </div> 
    <a href="{% url 'counApp:home' %}" class="btn-box">{% trans "Back To Home" %}</a>
    
    <script>
        flatpickr("#calendar", {
        inline: true,     // Displays calendar always visible
        dateFormat: "d-m-y",
        onChange: function(selectedDates, dateStr, instance) {
        alert("You selected date on: " + dateStr);
        }
        });
    </script>
</body>
</html>