{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veena Pujar - Empowering Emotional WellBeing</title>
    <link rel="stylesheet" href="{% static 'css/2stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="icon" type="image/jpeg" href="{% static 'images/Veena Main pic website.jpeg' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <h1>Couple Counselling</h1>
        </nav>
    </header>

    <div class="self-free">
        <section class="selffree-content">
            <div class="selffree-text">
                <h2>Couple Counselling</h2>
                <h3>It's Often Unsucessfull & Potentially Harmfull</h3>
                <img src="{% static 'images/Counselling Small Family.jpeg' %}" class="square-glow">
                <div><br></div>
                <p>In couple counselling, we focus on understanding each other's emotions through excercise like emotional validation & empathy.</p>
                <p>With a narcissitic partner it becomes problmatic to the significant other (spouse) when they approach the 
                            counseller or psychologist for therapy as the narcissit tries to manipulate even the therapist & distrub the 
                            flow. So, instead it is advisable for the victim of NPD abused to take individual therapy in absence of narcissitic 
                            partner which is an effective path in re-building the self trust, setting boundaries & taking independent decisions 
                            in the relationship.</p>
                <div><br></div>
                <h3>Steps For Couple Counselling :</h3>
                <p>Emotional focused therapy - EFT.</p>
                <p>Cognitive behavioural therapy - CBT.</p>
                <p>Active & reflectve listening.</p>
                <p>Conflict resolutio.n</p>
                <p>Empathy Excercises.</p>
                <div><br></div>
                <h3>Reach Us For More Help</h3>
                <div><br></div>
                <a href="" class="btn-box">🎥Zoom Meeting</a>
                <h2>Select a Date :</h2>
                <div id="calendar">
                    <p><strong>Book</strong> it <strong>NOW!</strong> at <strong>₹699</strong></p>
                </div>
                <a href="" class="btn-box">Pay ₹699</a>
                <h3>Need help or have questions?</h3>
                <h3>We're just a message away...</h3>
                <h3>Contact Us</h3>
                <h4><p class="bx bxs-phone"><strong>+91 - 7760213227</strong></p></h4>
                <h3>E-mail : happyhealinghappyfeeling@gmail.com</h3>
            </div>
        </section>
    </div> 
    <a href="{% url 'counApp:home' %}" class="btn-box">Back To Home</a>
    
    <script>
        flatpickr("#calendar", {
        inline: true,     // Displays calendar always visible
        dateFormat: "d-m-y",
        onChange: function(selectedDates, dateStr, instance) {
        alert("You selected date on: " + dateStr);
        }
        });
    </script>
</body>
</html>