{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% blocktrans %} Veena Pujar - Empowering Emotional WellBeing {% endblocktrans %}</title>
    <link rel="stylesheet" href="{% static 'css/2stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="icon" type="image/jpeg" href="{% static 'images/Veena Main pic website.jpeg' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <h1>{% trans "Couple Counseling" %}</h1>
        </nav>
    </header>

    <div class="self-free">
        <section class="selffree-content">
            <div class="selffree-text">
                <h2>{% trans "Couple Counseling" %}</h2>
                <h3>{% trans "If one of the parent is narcisstic in nature then couple therapy will not be helpful" %}</h3>
                <img src="{% static 'images/Counselling Small Family.jpeg' %}" class="square-glow">
                <div><br></div>
                <p>{% blocktrans %} In couple counselling, we focus on understanding each other's emotions through excercise like emotional validation & empathy.{% endblocktrans %}</p>
                <p>{% blocktrans %} With a narcissitic partner it becomes problmatic to the significant other (spouse) when they approach the 
                            counseller or psychologist for therapy as the narcissit tries to manipulate even the therapist & distrub the 
                            flow. So, instead it is advisable for the victim of NPD abused to take individual therapy in absence of narcissitic 
                            partner which is an effective path in re-building the self trust, setting boundaries & taking independent decisions 
                            in the relationship.{% endblocktrans %}</p>
                <div><br></div>
                <h3>{% trans "Steps For Couple Counselling :" %}</h3>
                <p>{% trans "Emotional focused therapy - EFT." %}</p>
                <p>{% trans "Cognitive behavioural therapy - CBT." %}</p>
                <p>{% trans "Active & reflectve listening." %}</p>
                <p>{% trans "Conflict resolution" %}</p>
                <p>{% trans "Empathy Excercises." %}</p>
                <div><br></div>
                <h3>{% trans "Reach Us For More Help" %}</h3>
                <div><br></div>
                <h3>{% trans "Online Sessions are conducted through the Google meet / Zoom meet / Whatsapp Video Call" %}</h3>
                <a href="" class="btn-box">🎥Zoom Meeting</a>
                <h2>Select a Date :</h2>
                <div id="calendar">
                    <p><strong>Book</strong> it <strong>NOW!</strong><!-- at <strong>₹999</strong>--></p>
                </div>
                <h2>{% trans "Contact us before the Payment" %}</h2>
                <!--<a href="" class="btn-box">{% trans "Pay" %} ₹999</a>-->
                <h3>{% trans "Need help or have questions?" %}</h3>
                <h3>{% trans "We're just a message away..." %}</h3>
                <h3>{% trans "Contact Us" %}</h3>
                <h4><p class="bx bxs-phone"><strong>+91 - 7760213227</strong></p></h4>
                <h3>{% trans "E-mail" %} : happyhealinghappyfeeling@gmail.com</h3>
            </div>
        </section>
    </div> 
    <a href="{% url 'counApp:home' %}" class="btn-box">{% trans "Back To Home" %}</a>
    
    <script>
        flatpickr("#calendar", {
        inline: true,     // Displays calendar always visible
        dateFormat: "d-m-y",
        onChange: function(selectedDates, dateStr, instance) {
        alert("You selected date on: " + dateStr);
        }
        });
    </script>
</body>
</html>
