{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veena Pujar - Empowering Emotional WellBeing</title>
    <link rel="stylesheet" href="{% static 'css/3stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="icon" type="image/jpeg" href="{% static 'images/Veena Main pic website.jpeg' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <h1>Group Counselling</h1>
        </nav>
    </header>

    <div class="self-free">
        <section class="selffree-content">
            <div class="selffree-text">
                <h2>Group Counselling</h2>
                <h3>Support groups for survivors of narcissitic abuse are highly beneficial</h3>
                <img src="{% static 'images/groupcounselling.jpeg' %}" class="square-glow">
                <div><br></div>
                <p>They provide a safe, non judgemental space to share experiences with others who understand. Groups helps to 
                            challenge the reality distortion caused by gaslighting & manipulation, helping survivors regain clarity & 
                            self turst. they offer a corrective emotional experience, helping rebuild a sense of belongingness & validation 
                            that may be missing from the original relationship.  </p>
                <p>Group counselling sessions include a skills based approaches like:</p>
                <div><br></div>
                <h3>Steps For Icebreaker Activities :</h3>
                <p>Role playing - Support groups.</p>
                <p>Mindfullness excercises - Psychoeducation.</p>
                <p>Reflective leasoning - Group cohession</p>
                <p>Catharsis - provides a safe place for members to express emotion & feel a sense of release & relief.</p>
                <p>Universality - The reliazation that one is not alone in their struggles.</p>
                <p></p>
                <div><br></div>
                <h3>Reach Us For More Help</h3>
                <div><br></div>
                <a href="" class="btn-box">🎥Zoom Meeting</a>
                <h2>Select a Date :</h2>
                <div id="calendar">
                    <p><strong>Book</strong> it <strong>NOW!</strong> at <strong>₹699</strong></p>
                </div>
                <a href="" class="btn-box">Pay ₹699</a>
                <h3>Need help or have questions?</h3>
                <h3>We're just a message away...</h3>
                <h3>Contact Us</h3>
                <h4><p class="bx bxs-phone"><strong>+91 - 7760213227</strong></p></h4>
                <h3>E-mail : happyhealinghappyfeeling@gmail.com</h3>
            </div>
        </section>
    </div> 
    <a href="{% url 'counApp:home' %}" class="btn-box">Back To Home</a>
    
    <script>
        flatpickr("#calendar", {
        inline: true,     // Displays calendar always visible
        dateFormat: "d-m-y",
        onChange: function(selectedDates, dateStr, instance) {
        alert("You selected date on: " + dateStr);
        }
        });
    </script>
</body>
</html>