{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% blocktrans %} Veena Pujar - Empowering Emotional WellBeing {% endblocktrans %}</title>
    <link rel="stylesheet" href="{% static 'css/5stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="icon" type="image/jpeg" href="{% static 'images/Veena Main pic website.jpeg' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <h1>{% trans "Set Yourself Free" %}</h1>
        </nav>
    </header>

    <div class="self-free">
        <section class="selffree-content">
            <div class="selffree-text">
                <h2>{% trans "Set Yourself Free" %}</h2>
                <h3>{% trans "You tried leaving them & going no contact" %}</h3>
                <img src="{% static 'images/Bird-image.jpeg' %}" class="square-glow">
                <div><br></div>
                <p>{% trans "Focusing on these elements can be freeing no matter what your age is." %}</p>
                <p>{% blocktrans %}But everytime you did no contact, within a couple days you started missing them miserably & felt may not be able 
                            to take it any more or they love bombed you so heavily that you fell in the trap again.{% endblocktrans %}</p>
                <div><br></div>
                <h3>{% trans "Steps To Break a Trauma Bond :" %}</h3>
                <p>{% trans "Look behind the curtain." %}</p>
                <p>{% trans "Honour & have compassion for your suffering." %}</p>
                <p>{% trans "REBT-therapy: Reprocesses trauma & breaks emotional attachments." %}</p>
                <p>{% trans "Somatic therapy helps release stored trauma from the body." %}</p>
                <p>{% trans "Complex PTSD-therapy: Addresses long term emotional effects of abuse." %}</p>
                
                <div><br></div>
                <h3>{% trans "Reach Us For More Help" %}</h3>
                <div><br></div>
                <h3>{% trans "Online Sessions are conducted through the Google meet / Zoom meet / Whatsapp Video Call" %}</h3>
                <a href="" class="btn-box">🎥Zoom Meeting</a>
                <h2>Select a Date :</h2>
                <div id="calendar">
                    <p><strong>Book</strong> it <strong>NOW!</strong><!-- at <strong>₹999</strong>--></p>
                </div>
                <h2>{% trans "Contact us before the Payment" %}</h2>
                <!--<a href="" class="btn-box">{% trans "Pay" %} ₹999</a>-->
                <h3>{% trans "Need help or have questions?" %}</h3>
                <h3>{% trans "We're just a message away..." %}</h3>
                <h3>{% trans "Contact Us" %}</h3>
                <h4><p class="bx bxs-phone"><strong>+91 - 7760213227</strong></p></h4>
                <h3>{% trans "E-mail" %} : happyhealinghappyfeeling@gmail.com</h3>
            </div>
        </section>
    </div> 
    <a href="{% url 'counApp:home' %}" class="btn-box">{% trans "Back To Home" %}</a>
    
    <script>
        flatpickr("#calendar", {
        inline: true,     // Displays calendar always visible
        dateFormat: "d-m-y",
        onChange: function(selectedDates, dateStr, instance) {
        alert("You selected date on: " + dateStr);
        }
        });
    </script>
</body>
</html>