{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% blocktrans %} Veena Pujar - Empowering Emotional WellBeing {% endblocktrans %}</title>
    <link rel="stylesheet" href="{% static 'css/6stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="icon" type="image/jpeg" href="{% static 'images/Veena Main pic website.jpeg' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <h1>{% trans "Break Trauma Bond" %}</h1>
        </nav>
    </header>
    
    <div class="self-free">
        <section class="selffree-content">
            <div class="selffree-text">
                <h2>{% trans "Break Trauma Bond" %}</h2>
                <h3>{% trans "Understand in depth how you got trauma bonded to the Narcissits" %}</h3>
                <div class="break-trauma-img">
                    <img src="{% static 'images/BreakTraumaBond-image.jpeg' %}" class="square-glow">
                </div>
                <div><br></div>
                <p>{% blocktrans %}Breaking the trauma bond in narcissitic abuse challenging & multi-step process that requires a mix of emtional practical 
                    & psychological strategies a key is to safely distance yourself from abuser, seek support & work on re-building self worth 
                    & independence.{% endblocktrans %}
                </p>
                <p>{% blocktrans %}Why you can't stop missing them?, because you were conditioned in such a way that if you leave them you will be nowhere. it's crucial to take healing therapy sessions.{% endblocktrans %}</p>
                <div><br></div>
                <h3>{% trans "Steps To Break a Trauma Bond :" %}</h3>
                <p>{% trans "Acknowledge & accept the bond." %}</p>
                <p>{% trans "Educate yourself." %}</p>
                <p>{% trans "Go no contact." %}</p>
                <p>{% trans "Build a support system." %}</p>
                <p>{% trans "Seek professional help." %}</p>
                <p>{% trans "Re-discover self compassion & practise self-care." %}</p>
                <p>{% trans "Apply boundaries." %}</p>
                <p>{% trans "Allow time for healing." %}</p>
                <div><br></div>
                <h3>{% trans "Reach Us For More Help" %}</h3>
                <div><br></div>
                <h3>{% trans "Online Sessions are conducted through the Google meet / Zoom meet / Whatsapp Video Call" %}</h3>
                <a href="" class="btn-box">🎥Zoom Meeting</a>
                <h2>Select a Date :</h2>
                <div id="calendar">
                    <p><strong>Book</strong> it <strong>NOW!</strong> at <strong>₹999</strong></p>
                </div>
                <h2>{% trans "Contact us before the Payment" %}</h2>
                <a href="" class="btn-box">{% trans "Pay" %} ₹999</a>
                <h3>{% trans "Need help or have questions?" %}</h3>
                <h3>{% trans "We're just a message away..." %}</h3>
                <h3>{% trans "Contact Us" %}</h3>
                <h4><p class="bx bxs-phone"><strong>+91 - 7760213227</strong></p></h4>
                <h3>{% trans "E-mail" %} : happyhealinghappyfeeling@gmail.com</h3>
            </div>
        </section>
    </div> 
    <a href="{% url 'counApp:home' %}" class="btn-box">{% trans "Back To Home" %}</a>
    
    <script>
        flatpickr("#calendar", {
        inline: true,     // Displays calendar always visible
        dateFormat: "d-m-y",
        onChange: function(selectedDates, dateStr, instance) {
        alert("You selected date on: " + dateStr);
        }
        });
    </script>
</body>
</html>