{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% blocktrans %} Veena Pujar - Empowering Emotional WellBeing {% endblocktrans %}</title>
    <link rel="stylesheet" href="{% static 'css/7stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="icon" type="image/jpeg" href="{% static 'images/Veena Main pic website.jpeg' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <h1>{% trans "You Have Tried Dettachment" %}</h1>
        </nav>
    </header>

    <div class="self-free">
        <section class="selffree-content">
            <div class="selffree-text">
                <h2>{% trans "You Have Tried Dettachment" %}</h2>
                <h3>{% trans "But you share a child with them" %}</h3>
                <img src="{% static 'images/dettachment-image.jpeg' %}" class="square-glow">
                <div><br></div>
                <p>It is incredibelly to challenging to end a relationship with narcissit when you share a child with them.</p>
                <p>{% blocktrans %}Every time you start distancing emotionally, they find one or the other way to push your buttons & you are back 
                            to square one, wondering if it is you who is crazy. plus those hot & cold cycles keep you trapped feeling guilty,
                            terrified or obligated to stay in the relationship.{% endblocktrans %}</p>
                <div><br></div>
                <h3>{% trans "How to handle this ?" %}</h3>
                <p>{% trans "Shift your mindset from partner to co-parent." %}</p>
                <p>{% trans "Establish & enforce strong boundaries." %}</p>
                <p>{% trans "Focus on documentation & legal protection." %}</p>
                <p>{% trans "Prioritize your child's wellbeing." %}</p>
                <p>{% trans "Take care of yourself." %}</p>
                <div><br></div>
                <h3>{% trans "Reach Us For More Help" %}</h3>
                <div><br></div>
                <h3>{% trans "Online Sessions are conducted through the Google meet / Zoom meet / Whatsapp Video Call" %}</h3>
                <a href="" class="btn-box">🎥Zoom Meeting</a>
                <h2>Select a Date :</h2>
                <div id="calendar">
                    <p><strong>Book</strong> it <strong>NOW!</strong> at <strong>₹999</strong></p>
                </div>
                <h2>{% trans "Contact us before the Payment" %}</h2>
                <a href="" class="btn-box">{% trans "Pay" %} ₹999</a>
                <h3>{% trans "Need help or have questions?" %}</h3>
                <h3>{% trans "We're just a message away..." %}</h3>
                <h3>{% trans "Contact Us" %}</h3>
                <h4><p class="bx bxs-phone"><strong>+91 - 7760213227</strong></p></h4>
                <h3>{% trans "E-mail" %} : happyhealinghappyfeeling@gmail.com</h3>
            </div>
        </section>
    </div> 
    <a href="{% url 'counApp:home' %}" class="btn-box">{% trans "Back To Home" %}</a>
    
    <script>
        flatpickr("#calendar", {
        inline: true,     // Displays calendar always visible
        dateFormat: "d-m-y",
        onChange: function(selectedDates, dateStr, instance) {
        alert("You selected date on: " + dateStr);
        }
        });
    </script>
</body>
</html>