{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veena Pujar - Empowering Emotional WellBeing</title>
    <link rel="stylesheet" href="{% static 'css/thanks.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="icon" type="image/jpeg" href="{% static 'images/Veena Main pic website.jpeg' %}">
  </head>
 <body>
   <header class="header">
      <nav class="navbar">
        <h1>Thank You!</h1>
      </nav>
    </header>

    <div class="self-free">
     <section class="selffree-content">
       <div class="selffree-text">
         <h1>Thanks — We have received your submission & we will reach out to you soon!</h1>
         <p>With regards,</p>
         <p><strong>Veena Pujar</strong></p>
         <p>Empowering Emotional Wellbeing</p>
         <h3>happyhealinghappyfeeling</h3>
         <a href="{% url 'counApp:home' %}" class="btn-box">Back to home</a>
        </div>
      </section>
    </div>
  </body>
</html>